[submodule "performeval"]
	path = performeval
	url = ../performeval.git
[submodule "pm-system"]
	path = pm-system
	url = ../pm-system.git
[submodule "cci_system"]
	path = cci_system
	url = ../cci_system.git
[submodule "task_reminder"]
	path = task_reminder
	url = ../task_reminder.git
[submodule "teamscore"]
	path = teamscore
	url = ../teamscore.git
[submodule "md-reader"]
	path = md-reader
	url = ../md-reader.git
